
.watermelon-ListCard{
	
}




.watermelon-ListCard{
	.mdl-list__item{
		&:hover{
			background-color: #f5c4d3;
		}
	}
}

.watermelon-ListCard{
	.mdl-checkbox__ripple-container {
		.mdl-ripple {
	    	background: #f5c4d3;
	    }	
	}
}

.watermelon-ListCard{
	.mdl-checkbox.is-checked {
		.mdl-checkbox__tick-outline{
			background-color: #f5c4d3;
		}
	}
}

.watermelon-ListCard{
	.mdl-checkbox.is-checked{
		.mdl-checkbox__box-outline{
			 border: 2px solid #f5c4d3;
		}
	}  
}

.watermelon-ListCard{
	.mdl-switch.is-checked {
		.mdl-switch__thumb{
			background: #f5c4d3;
		}
	}
}

.watermelon-ListCard{
	.mdl-switch.is-checked{
		.mdl-switch__track{
			background: #f5c4d3;
		}
	}
}


.mdl-button.mdl-button--colored {
    color: #f5c4d3;
}








