
.app-header{
	position:fixed;
	top:0px;
	z-index:1000;
	width:100%;
	height:40px;	
	background: #333;
	color:rgba(77, 77, 77, 0.5);
	background: #f7f7f7;
	box-shadow:0 0 4px rgba(0,0,0, .14), 0 4px 8px rgba(0, 0, 0, 0.28);

}