/*

// Variables and mixins
@import "variables";
@import "mixins";

// Resets and dependencies
@import "resets";
@import "typography";

// Components
@import "palette";
@import "ripple";
@import "animation";
@import "badge";
//@import "button";
@import "card";
@import "checkbox";
@import "chip";
@import "data-table";
@import "dialog";
@import "mega_footer";
@import "mini_footer";
@import "icon-toggle";
@import "list";
@import "menu";
@import "progress";
@import "layout";
@import "radio";
@import "slider";
@import "snackbar";
@import "spinner";
@import "switch";
@import "tabs";
@import "textfield";
@import "tooltip";
@import "shadow";
@import "grid";


*/



//app
//@import "watermelon";


$bkGrd : linear-gradient(to bottom, rgba(252,252,252,1) 0%,rgba(245, 245, 245,1) 100%); 

$pGrd: linear-gradient(to bottom, rgba(127,129,135,1) 0%,rgba(0,13,51,1) 62%);

$trsGrd: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); 

$appGrd: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);

$appColor : rgba(255,64,129, 1);



/* Header */

.main-header{
	position:fixed;
	top:0px;
	z-index:1000;
	width:100%;
	height:40px;	
	color:rgba(77, 77, 77, 0.5);
	background: #f7f7f7;
	box-shadow:0 0 4px rgba(0,0,0, .14), 0 4px 8px rgba(0, 0, 0, 0.28);	

	transition: width 200ms ease-out;
}

.main-header .header-content{
	padding:3px;
	display: inline-block;
	vertical-align:top;	
}

.header-toggle-button{
	height: 100%;
	width:35px;
	cursor: pointer;
	border-top: 0px;
	border-bottom: 0px;
	text-align: center;	
	background-color:rgba(0,0,0, .3);
	color: #fff;
}

.header-toggle-button i.material-icons{
	margin-top: 6px;;
}

.header-toggle-button.open-state{
	float:right;
	/*border-right: 0xp;
	border-left: 1px solid rgba(0,0,0, .1);
	*/
}

.header-toggle-button.closed-state{
	/*float:left;
	border-left: 0xp;
	border-right: 1px solid rgba(0,0,0, .1);*/
	
}



.main-header .logo{
	box-sizing:border-box;
	width:60px;
	height:100%;
	float:left;
	margin-left:20px;
	text-align: center;
	
}

.header-form{
	box-sizing:border-box;
	height:100%;
	min-width:300px;
}

.header-form .form-divider{
	box-sizing:border-box;
	height:100%;
	width:100%;
}

.header-form input{
	box-sizing:border-box;
	height:100%;
	width:100%;
	border-top:0px;
	border-left:0px;
	border-right:0px;
	border-bottom:0px;
	padding:8px;
	font-size:16px;
	border-radius:2px;
	background:rgba(0, 0, 0, 0.05);
	text-overflow: ellipsis;
	color: rgba(77, 77, 77, 0.6);
}

.header-form input:focus{
	color: rgba(77, 77, 77, 0.8);
	outline:1px solid rgba(77, 77, 77, 0);
}

.header-menu{
	box-sizing:border-box;
	display: inline-block;
	vertical-align: top;
	height:100%;
}

.header-menu a{

	display: inline-block;
	box-sizing:border-box;
	height:100%;
	padding: 8px 10px;
	font-weight:500;
	font-size: 12px;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom:2px solid transparent;
	color: rgba(0,0,0, 0.6);
	cursor: pointer;

}

.header-menu a:hover{
	color:#ff4081;
}

.header-menu a.menu-is-active{
	color:#ff4081;
	border-bottom:2px solid #ff4081;
	
}


.header-content button {
	display:inline-block;
	vertical-align:top;
	padding:8px 8px;
	margin-left:8px;
	font-size:10px;
	cursor: pointer;
	border-radius: 2px;
	border:none;
	background-color: rgba(124, 222, 147, 0.8);
	background-color: rgba(255,64,129, 1);
	background-color: rgba(242, 41, 110, 1);
	color:#fff;
	outline: none;
}

.header-content button:hover{
	background-color: rgba(255,64,129, .8);
}


.main-header .status-bar{
	float:right;
	box-sizing: border-box;
	height:100%;
	margin-right: 30px;
	width:280px;			
}


.status-bar.logged-out{
	width:170px;
	
}


.status-bar button i{
	font-size:16px;
}

.is-template-dashboard  button#profile-icon{
	background-color: rgba(0,0,0, .3);
}

#profile-icon i{
	font-size: 24px;
}

.back-to-templates{
	background-color: rgba(242, 41, 110, 1);
}

.back-to-templates i.material-icons{
	color:#fff;
}



.back-to-templates:hover{
	background-color: rgba(242, 41, 110, 1);
	color: #fff;
}


.status-bar button.google-signin{
        /*background-color: rgba(33, 150, 243, 1);*/
        height:35px;
        padding:0px 6px 0px 1px;
        font-weight: 400;
        font-size: 12px;

        /*background-color: rgba(0,0,0, .3);*/

        background-color: #fff;
        color: $appColor;
        
        box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
   }

.status-bar button.google-signin:hover{
        /*background-color: rgba(33, 150, 243, .8);*/
       	color: rgba(33, 150, 243, .8);
        /*background-color: rgba(33, 150, 243, .8);*/
        box-shadow:0 1px 4px rgba(0, 0, 0, 0.4)
   }

.status-bar button.github-signin{
        
        height:35px;
        padding:0px 5px;
        padding:0px 5px 0px 6px;
        font-weight: 400;
        font-size: 12px;
        background-color: rgba(0,0,0, .3);
   }

.status-bar button.github-signin:hover{
        background-color: rgba(255,64,129, .8);
   }

.header-content button.logout-button{
	margin-top:-4px;
}

.header-content button.logout-button i.material-icons{
	font-size: 13px;
}


/* Body */
.main{
	margin-top:40px;
	transition: margin-top 500ms ease-out 200ms;
}

.style-panel-toggle{
	position:fixed;
	top: 65px;
	z-index:1000;
	width:30px;
	height:30px;
	line-height:40px;
	text-align:center;
	cursor:pointer;
	
	color: rgba(77, 77, 77, 0.6);
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	transition: right 500ms ease-out;
	box-shadow: -1px 0px 2px rgba(0, 0, 0, 0.2);
	background:$bkGrd;

	
}



.style-panel-main_container{
	position: fixed;
	top: 65px;
	z-index: 1000;
	width: 350px;
	height: 450px; 		
	border-top-right-radius: 2px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	transition: right 500ms ease-out;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
	overflow:hidden;
	
}


.toggled_open > .style-panel-toggle{
	right:370px;
}

.toggled_open > .style-panel-main_container{
	right: 20px;
}

.toggled_close > .style-panel-toggle{
	right:0px;
}

.toggled_close > .style-panel-main_container{
	right: -350px;
}


.style-panel-title_container{
	cursor:pointer;
	width: 100%;
	height:14px;
	padding: 2px 0px 9px 0px;
	font-size: 10px;
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
	color: rgba(77, 77, 77, 0.7);
	border-bottom:1px solid rgba(0, 0, 0, 0.1);
	background:$bkGrd;
	
}

.style-panel-tab_container{
	width:100%;
	height:425px;
	background: rgb(245, 245, 245)

	
}

.style-panel-tab_bar{
	width:100%;
	height:35px;
	font-size: 8px;
	background:#ededed;
	background:#e0e0e0;
}

.style-panel-tab{
	display:inline-block;
	width:50px;
	height:35px;
	line-height:50px;
	text-align: center;
	cursor:pointer;
	color: rgba(0, 0, 0, 0.2);
	border-right:1px rgba(0, 0, 0, 0.1);
}

.style-panel-tab.active_tab{
	
	color: rgba(77, 77, 77, 0.9);
	background: #fcfcfc;

	background: rgb(245, 245, 245);
}

.style-panel-tab_content{
	width:100%;
	height:375px;
	margin-top:2px;
	padding:5px 0px;
	overflow-y:scroll;
}

.style-panel-control-block{
	width:285px;
	padding: 8px 8px;
	margin: 1px auto;	
	background: rgba(255, 255, 255, 1);
	
}

.style-panel-control-block > .control-label{
	display:inline-block;
	vertical-align:top;
	width:35%;
	font-size: 11px;
	color: rgba(77, 77, 77, 0.8);	
}

.style-panel-control-block > .control-content{
	display:inline-block;
	vertical-align:top;
	width:64%;
}



.style-palette{
	padding:8px;

}



.pos{
	margin: 20px auto;
}

.center-container{
	width: 70%;
	margin:0 auto;
}

.color-sqr{
	position:relative;
	display:inline-block;
	z-index:0;
	width: 20px;
	height:20px;
	margin-left:1px;
	vertical-align: top;
	transition: all 500ms;
	transform:scale(1);
	border:1px solid #f0f0f0;
	cursor:pointer;
}

.color-sqr:hover{
	transform:scale(1.2);	
}

.color-sqr.selected{
	transform:scale(1.3);
	z-index:10;
	border:1px solid #f0f0f0;
}

.color-block{
	display:inline-block;
	width: 50px;
	height:50px;
	border:1px solid #fff;
	vertical-align: top;
}

.inline{
	display:inline-block;
	vertical-align: top;
	margin: 5px;
	text-align: center;
}

/* Page Tranistion */

.page-enter{
	opacity: 0.01;
}

.page-enter.page-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.page-leave {
  opacity: 1;
}

.page-leave.page-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

/* Vertical Tabs */

.vertical-tabs-container{
	display: -webkit-flex; /* Safari */
    display: flex;
    width: 100%;
    height: 455px;
    margin: auto;  
}

.vertical-tabs-left{
    -webkit-flex: 3;  /* Safari 6.1+ */
    -ms-flex: 3;  /* IE 10 */    
    flex: 3;
	box-sizing: border-box;
	
	/*border: 1px solid rgba(0,0,0, .05);*/
}

.vertical-tabs-right{
	  -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */    
    flex: 1;
    padding-top: 25px;
}

.vertical-tabs-left img{
	width: 700px;
	
}

.vertical-tab{
	width: 100%;
	box-sizing: border-box;
	padding: 5px 15px 5px 22px;
	cursor: pointer;
	color: rgba(0,0,0, .5);
}



.vertical-tab h5{
	font-size:18px;
	line-height: 20px;
}

.vertical-tab:hover{
	color: rgba(255, 64, 129, 1);
}


.vertical-tabs-left .content-container{
	height: 100%;
}


.vertical-tabs-left .content-container .content-block{
	 -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */    
    flex: 1;
    height: 95%;
}

.vertical-tab-list{
	margin-left: 30px;
}

.vertical-tab-title{
	color: #ff4081;
}


/* Control panel */

.app-dropdown{
	border: 1px solid rgba(0,0,0, .3);
	color: rgba(0,0,0, .6);
	background: #fff;
	font-size: 13px;
	border-radius: 5px;
   	height: 30px;
   	width: 150px;
	outline: 0px;
}

.control-panel-toggle{
	position:fixed;
	top: 50px;
	z-index:1000;
	width:30px;
	height:30px;
	line-height:40px;
	text-align:center;
	cursor:pointer;	
	color: rgba(77, 77, 77, 0.6);
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	transition: right 500ms ease-out;
	box-shadow: -1px 0px 2px rgba(0, 0, 0, 0.2);
	background:$bkGrd;	
}



.control-panel-main_container{
	position: fixed;
	top: 50px;
	z-index: 1000;
	width: 350px;	
	height: 578px;	
	border-top-right-radius: 2px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	transition: right 500ms ease-out;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
	overflow:hidden;
	background-color: #d6d6d6;
}


.toggled_open > .control-panel-toggle{
	right:370px;
}

.toggled_open > .control-panel-main_container{
	right: 20px;
}

.toggled_close > .control-panel-toggle{
	right:0px;
}

.toggled_close > .control-panel-main_container{
	right: -350px;
}


.control-panel-title_container{
	cursor:pointer;
	position:relative;
	width: 100%;
	height:14px;
	padding: 2px 0px 9px 0px;
	font-size: 11px;
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
	color: rgba(77, 77, 77, 0.7);
	border-bottom:1px solid rgba(0, 0, 0, 0.1);
	
	background:$bkGrd;
}

.control-panel-title_container .toggle-arrow{
	position:absolute;
	right:0px;
	cursor:pointer;
}

.control-panel-title_container .toggle-arrow i.material-icons{
	transition: all 500ms ;
}

.control-panel-title_container .toggle-arrow.open-drawer i.material-icons{
	transform: rotate(0deg)
}

.control-panel-title_container .toggle-arrow.closed-drawer i.material-icons{
	transform: rotate(-90deg)
}

.control-panel-tab_container{
	width:100%;
	background: rgb(245, 245, 245);
	transition: all 500ms ease-out;
	overflow:hidden;
}

.control-panel-tab_container.open-panel-container{
	height: 200px;
}

.control-panel-tab_container.closed-panel-container{
	height: 0px;

}

.control-panel-tab_bar{
	width:100%;
	height:35px;
	font-size: 8px;
	background:#ededed;
	background:#e0e0e0;
}

.control-panel-tab{
	display:inline-block;
	width:50px;
	height:35px;
	line-height:50px;
	font-size: 10px;
	text-align: center;
	cursor:pointer;
	color: rgba(0, 0, 0, 0.2);
	border-right:1px rgba(0, 0, 0, 0.1);
}

.control-panel-tab.active_tab{
	
	color: rgba(77, 77, 77, 0.9);
	background: #fcfcfc;

	background: rgb(245, 245, 245);
}

.control-panel-tab_content{
	width:100%;
	height:95%;
	margin-top:2px;
	padding:5px 0px;
	overflow-y: scroll;
}

.control-panel-control-block{
	width:300px;
	padding: 8px 8px;
	margin: 1px auto;	
	background: rgba(255, 255, 255, 1);
	
}

.control-panel-control-block > .control-label{
	display:inline-block;
	vertical-align:top;
	width:35%;
	font-size: 11px;
	color: rgba(77, 77, 77, 0.8);	
}

.control-panel-control-block > .control-content{
	display:inline-block;
	vertical-align:top;
	width:64%;
}

.panel-style{
	padding:8px;
}

.radio-panel ul {
	list-style: none;
}

.radio-panel ul li{
	width:300px;
	padding: 12px 8px;
	margin-left: -35px;
	margin-top: 1px;	
	background: rgba(255, 255, 255, 1);
}

.collaborator-list{
	padding-top: 15px;
	padding-bottom: 15px;
	color: rgba(0,0,0, .7)
}

.collaborator-list p{
	margin-left:13px;
	margin-bottom: 10px;
}

.collaborator-list li{
	padding:6px;
	padding-left:15px;
	font-size: 15px;
	background: #fff;
	color: rgba(0,0,0, .7)
}

.collaborator-list li:hover{
	background: #f8f8f8;
}

.search-box{
	padding: 10px;
	margin-bottom: 8px;
}

.search-box .search-field{
	width: 70%;
	display: inline-block;
}

.search-list-results li{
	padding:6px;
	padding-left:15px;
	font-size: 15px;
	background: #fff;
}

.search-list-results li:hover{
	background: #f8f8f8;
}

/* App Buttons*/

.download-button{
	height: 100%;
	width: 130px;
	display: flex;
	display: -webkit-flex;
	-webkit-flex-warp: wrap;
	flex-wrap: wrap;
	-webkit-align-conent: center;
	align-content: center;
	min-width: 80px;
	margin-left: 10px;
	overflow: hidden;

}

.download-button .mdl-button{
	height: 25px;
	line-height: 0px;
	margin:auto;
	
}

.download-button .mdl-button--accent.mdl-button--accent.mdl-button--raised{
	background-color: #f2296e;
}

.download-button  em, 
.download-button  em a {
	font-size: 10px;
	padding: 0px;
	margin:auto;
	width: 100%;
	
}

.download-button i.material-icons{
	font-size: 15px;
}


/* Page */

.app-page{
	position:relative;
	padding-top:30px;
	box-sizing: border-box;
	width: 100%;
	margin:auto;
	min-height: 750px;
	min-height: calc(100vh - 5px);
	padding-top:30px;
	padding-bottom:120px;
	background: #fff;
	background: #f7f7f7;
	
}

.app-page-inner{
	box-sizing: border-box;
	width: 85%;
	max-width: 1024px;
	min-height:600px;
	padding: 25px;
	margin:auto;
	border-radius: 5px;
	background: inherit;
}	

.app-page .mdl-data-table{
	width:100%;
	margin:auto;
	white-space:normal;
	border:none;
}

.app-page .mdl-data-table thead{
	background-color:#eceff1;
	background-color: rgb(252,228, 236);
	border-color: rgb(252,228, 236);
}

.app-page .mdl-data-table th{
	color: rgb(216, 27, 96);
	text-align: center;
}
.app-page .mdl-data-table td{
	border-top: 0px;
	border-bottom: 1px solid rgba(0,0,0, .04);
	text-align: center;
}

.app-page .mdl-data-table td:first-child{
	text-align: left;
}

.app-page .mdl-data-table.mdl-shadow--2dp{
	box-shadow:none;
}

.app-page .mdl-card.mdl-shadow--2dp{
	box-shadow:none;
	min-height:0px;
	border:1px solid rgba(0,0,0, .12);
}

.app-page-content-box{
	width: 100%;

	/*border: 1px solid rgba(0,0,0, .2);*/
	overflow:hidden;

}




/* Home Page */


.home-page{
	position:relative;
	float: left;
	box-sizing: border-box;
	width: 100%;
	margin:auto;
	min-height: calc(100vh - 5px);
	height: 750px;
}


.home-hero{
	width:100%;
	box-sizing: border-box;
	height:100vh;
	background-color: $appColor;
	background: linear-gradient( #B5023F, #ff4081);
	color: #fff;
	text-align: center;
}

.hero-inner{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	height:100%;
	padding-top: 50px;
    background-blend-mode: multiply;
}


.hero-button{
	width: 200px;
	margin: auto;
	padding: 15px;
	border-radius: 3px;	
	background-color: inherit;
	
	font-size: 15px;
	transition: all .28s;
	cursor: pointer;
	text-transform: uppercase;
	outline:none;
	color: $appColor;
	background-color:#fff;

	box-shadow:0 0 4px rgba(0,0,0, .14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

.hero-button-inverted{
	width: 300px;
	padding: 20px 30px;
	border-radius: 3px;	

	font-size: 15px;
	transition: all .28s;
	cursor: pointer;
	text-transform: uppercase;
	outline:none;
	color: #fff;
	background-color:$appColor;
	box-shadow:0 0 4px rgba(0,0,0, .14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

a.hero-button-inverted,
a.hero-button{
	text-decoration:none;
}

.hero-button-inverted:hover{
	color: $appColor;
	background-color:#fff;
}

.hero-callout{
	width:750px;
	height: 300px;
	margin: auto;
	box-sizing: border-box;
	padding: 10px;
	text-align: center;
	font-size: 20px;
	color: #fff;
	margin-bottom: 30px;
}

.hero-callout .headline{
	font-weight: 300;
}


.hero-callout .hero-block{
	display: inline-block;
	vertical-align: top;
	width: 25%;
	margin: auto 3%;
	height: 150px;
	text-align: center;
	/*border: 1px solid #fff;*/

}

.hero-callout .hero-block img{
	width: 90%;
	height: 160px;
	margin: 15px auto;
	/*border: 1px solid #fff;*/
}

.hero-callout .hero-block p{
	font-size: 17px;
}

.hero-button:hover{
	background-color: inherit;
	color: #fff;
	border: 1px solid #fff;
	box-shadow:0 0 4px rgba(0,0,0, 0), 0 4px 8px rgba(0, 0, 0, 0);
}


.home-card{
	box-sizing: border-box;
	width: 250px;
	height:350px;
	border-radius: 10px;
	overflow:hidden;
	box-shadow:0 0 4px rgba(0,0,0, .3);
	margin: 50px auto;
}

.home-card-top{
	box-sizing: border-box;
	background:rgba(255,64,129, 1);
	height:50%;
	color: rgba(255,255,255, .3);
	text-align: center;
	
}

.home-card-top .material-icons{
	font-size: 160px;
}

.home-card-bottom{
	box-sizing: border-box;
	background:#fff;
	padding: 10px;
	height:50%;
	text-align: center;
	color: rgba(0,0,0, .6)
}

.home-page .mdl-mini-footer{
	background-color: #f7f7f7;
}




/* Template Selector Page */




.template-card{
	width:600px;
	height:480px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
	transition: all 250ms ease-out;
	box-sizing: content-box;
	margin: 45px auto;
	overflow: hidden;
	background: #fff;
}

.template-card > .card-left{
	display: inline-block;
	vertical-align: top;
	box-sizing:border-box;
	position:relative;
	height: 100%;
	width:100%;
	margin: 0px;

}

.template-card > .card-left > .action-bar{
	position: absolute;
	bottom: 0px;
	background: #fff;
	box-sizing: border-box;
	height: 215px;
	width: 100%;
	padding: 16px; 
	border-top: 1px solid #eceff1;
	border-top: 1px solid rgba(0,0,0, .18);
	
}


.template-card > .card-right{
	display: inline-block;
	vertical-align: top;
	box-sizing:border-box;
	height: 100%;
	width:0%;
	margin:0px;
	background: #fff;
	border-left:1px solid rgba(0,0,0, .1);

}

.template-card.details-open{
	width: 1100px;
	height: 650px;
}


.template-card.details-open .card-right{
	width: 66%;
}

.template-card.details-open .card-left{
	width: 33%;
}

.template-card.details-open > .card-left > .action-bar{
	height:400px;
}

.template-card .headline h5{
	margin-top: 8px !important;
	margin-bottom: 10px !important;
	color: rgba(0,0,0, .7);
}

.template-card .short-detail{
	font-size: 12px;
	color: rgba(0,0,0, .7);
	line-height: 16px;
}


.template-card .tag{
	display: inline-block;
	padding: 8px;
	font-size: 12px;
	border-radius: 20px;
	border: 1px solid rgba(255,64,129, .3);
	color: rgba(255,64,129, 1);
	margin: 2px 3px;
	background: #fff;
}



.transition-spinner{
	position: fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:2000;
	background-color:rgba(0,0,0, .1);
    text-align:center;
}

.transition-spinner > .mdl-spinner{
	position: absolute;
	top:50%;
	left:50%;
	
}



.notification-messages{
	width: 90%;
	box-sizing: border-box;
	padding: 15px 25px 40px 35px;
	margin: 40px auto;
	/*border-radius: 5px;*/
	background-color: rgba(247, 247, 247, .1);
	border: 1px solid rgba(0,0,0, .08);
	/*box-shadow: 0 1px 0px 0 rgba(0,0,0,0.05),0 1px 1px 0 rgba(0,0,0,0.14),0 1px 1px -1px rgba(0,0,0,0.05);*/
}

.notification-messages h5{
	color:#ff4081;
	padding-left:35px;
	padding-top:15px;
}

.notification-messages p{
	color:rgba(0,0,0, .6);
	margin-top: 20px;
	padding-right:35px;
	padding-left:35px;
	line-height: 24px;
}

.profile-page{
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2),0 1px 1px 0 rgba(0,0,0,0.14),0 2px 1px -1px rgba(0,0,0,0.12);
	background: #fff;
}


.profile-content{
	padding: 30px;
	min-height: 450px;
}

.profile-tabs .mdl-tabs__tab-bar{
	background: rgb(232, 234, 246);
	border-bottom: none;

}

.profile-tabs .mdl-tabs__tab-bar a.mdl-tabs__tab{
	color: rgb(159, 168, 218);

}

.profile-tabs .mdl-tabs__tab-bar a.mdl-tabs__tab.is-active {
	color: #3f51b5;

}



//sticky


.sticky-note{
	position: absolute;
	width: 300px;
	height: 250px;
	z-index: 500;
	background-color: #FAF5AA;
	color: rgba(0,0,0, .54);
	cursor: move;
}

.sticky-note .sticky-header{
	width: 100%;
	height: 30px;
	box-sizing: border-box;
	padding: 5px;
	
	
}

.sticky-note .sticky-header .close-button{
	float:right;
	cursor: pointer;
	color: rgba(0,0,0, .5);
}

.sticky-note .sticky-header .drag-button{
	display: inline-block;
	cursor: move;
	height: 10px;
	width: 10px;
	border: 1px solid rgba(0,0,0, .7);
}

.sticky-note .sticky-content{
	width: 100%;
	height: 170px;
	box-sizing: border-box;
	padding: 20px;
}

.sticky-note .sticky-content textarea{
	outline: 0px;
	background: inherit;
	width: 95%;
	height: auto;
	margin: auto;
	color: rgba(0,0,0, .54);
	border: 0px;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}



.sticky-note .sticky-footer{
	width: 100%;
	height: 30px;
	box-sizing: border-box;
	padding: 10px 20px;
}

.sticky-note .sticky-footer .author{
	float:left;
}

.sticky-note .sticky-footer .time-stamp{
	float:right;
}



//dialog ployfill

dialog {
  position: absolute;
  left: 0; right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  margin: auto;
  border: solid;
  padding: 1em;
  background: white;
  color: black;
  display: none;
}

dialog[open] {
  display: block;
}

dialog + .backdrop {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  background: rgba(0,0,0,0.1);
}


//Ribbon


.ribbon-container{
	position: relative;
	overflow: hidden;
	width: 380px;
	margin: auto;

}


.github-ribbon {
  position: absolute;
  text-align: center;
 
 padding-bttom: 5px;
  
  right: -150px;
  width: 100%;

  transform: rotate(45deg);

  /*background-color: #16B9F0;*/

 box-shadow:0 0 4px rgba(0,0,0, .14), 0 2px 10px rgba(0, 0, 0, 0.2);
 box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
 




/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0fb4e7+4,65d3f2+12,65d3f2+88,0fb4e7+97 */
background: #0fb4e7; /* Old browsers */
background: -moz-linear-gradient(top, #0fb4e7 4%, #65d3f2 12%, #65d3f2 88%, #0fb4e7 97%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #0fb4e7 4%,#65d3f2 12%,#65d3f2 88%,#0fb4e7 97%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #0fb4e7 4%,#65d3f2 12%,#65d3f2 88%,#0fb4e7 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0fb4e7', endColorstr='#0fb4e7',GradientType=0 ); /* IE6-9 */

}


.github-ribbon p{
	transform: rotate(0deg);
	font-size: 15px;
	/*text-shadow: 0 -1px rgba(0,0,0, .3);*/
	margin: 0px 0px 0px -25px;
	margin: 0px 0px 0px 45px;

	/*border-bottom: 1px dotted #0B7B9E;*/
	/*border-top: 1px dotted #0B7B9E;*/

}

.github-ribbon__link {
  display: inline-block;
  width: 250px;
  color: #fff;
  font-size: 0.8em;
  letter-spacing: 0.06em;
  text-shadow: 0 -1px #777;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  border-top: 1px dotted #ffc284;
  border-bottom: 1px dotted #ffa951;
}

/* App Notification */

.app-notification{
	position: fixed;
	top: -10%;
	left: 30%;
   
    background-color: #323232;
    background-color: #fff;
    z-index: 2000;
    display: block;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    /*will-change: transform;
    -webkit-transform: translate(0,80px);
    transform: translate(0,80px);*/
    transition: all .25s cubic-bezier(.4,0,1,1);
    /*transition: transform .25s cubic-bezier(.4,0,1,1),-webkit-transform .25s cubic-bezier(.4,0,1,1);*/
    
    box-shadow:0 0 4px rgba(0,0,0, .14), 0 4px 8px rgba(0, 0, 0, 0.28);	
}

.app-notification--active{
	/*transform: translate(0, 0);*/
    pointer-events: auto;
    transition: opacity .25s cubic-bezier(.4,0,1,1);
    /*transition: transform .25s cubic-bezier(.4,0,1,1),-webkit-transform .25s cubic-bezier(.4,0,1,1);*/
}

.app-notification__text{
	padding: 14px 12px 14px 24px;
    vertical-align: middle;
    color: rgba(0,0,0, .6);
}

.app-notification__text::-moz-focus-inner {
      border: 0;
    }

.app-notification__action{
	
}   

.app-notification__buttons{
	width: 100%;
	padding-top: 2%;
	
	text-align: center;
	margin: auto;
} 

/*
@media (min-width: 480px){
	
	.app-notification{
		min-width: 288px;
	    max-width: 568px;
	    border-radius: 2px;
	    -webkit-transform: translate(-50%,80px);
	    transform: translate(-50%,80px);
	}

}
*/









