<Card shadow={0} style={{width: '320px', height: '320px', margin: 'auto'}}>
				    <CardTitle expand style={{color: '#2c609b', background: '#8dc8f0'}}>Blue</CardTitle>
				    <CardText style={{background: '#8dc8f0'}}>
				        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				        Aenan convallis.
				        <IconButton name="mic"  style={{color: '#2c609b'}} />
				        <IconButton name="mood"  style={{color: '#2c609b'}} />
				    </CardText>
				    <CardActions border>
				        <Button colored>View Updates</Button>
				    </CardActions>
				</Card>

				<Card shadow={0} style={{width: '320px', height: '320px', margin: 'auto'}}>
				    <CardTitle expand style={{color: '#2c609b', background: '#96e3d2'}}>Green</CardTitle>
				    <CardText style={{background: '#96e3d2'}}>
				        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				        Aenan convallis.
				    </CardText>
				    <CardActions border>
				        <Button colored>View Updates</Button>
				        <IconButton name="alarm"  style={{color: '#96e3d2'}} />
				        <IconButton name="mic"  style={{color: '#96e3d2'}} />
				        <IconButton name="save"  style={{color: '#96e3d2'}} />
				    </CardActions>
				</Card>

				<Card shadow={0} style={{width: '320px', height: '320px', margin: 'auto'}}>
				    <CardTitle expand style={{color: '#fff', background: '#e6a1b5'}}>Pink</CardTitle>
				    <CardText style={{background: '#e6a1b5', borderTop: '1px dashed #f5c4d3'}}>
				        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				        Aenan convallis.
				    </CardText>
				    <CardActions border>
				        <Button colored>View Updates</Button>
				        <IconButton name="alarm"  style={{color: '#e6a1b5'}} />
				        <IconButton name="settings"  style={{color: '#e6a1b5'}} />
				        <IconButton name="schedule"  style={{color: '#e6a1b5'}} />
				    </CardActions>
				</Card>

				<Card shadow={0} style={{width: '320px', height: '320px', margin: 'auto'}}>
				    <CardTitle expand style={{color: '#d66d8b', background: '#f2f0f1'}}>Update</CardTitle>
				    <CardText style={{background: '#f2f0f1'}}>
				        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				        Aenan convallis.
				    </CardText>
				    <CardActions border>
				        <Button colored style={{color: '#d66d8b'}}>View Updates</Button>
				        <IconButton name="mood"  style={{color: '#d66d8b'}} />
				    </CardActions>
				</Card>