				<Grid >
					<div className="home-card">
						<div className="home-card-top">
								<Icon name="loyalty" />
						</div>
						<div className="home-card-bottom">
							<p>Placeholder </p>
						</div>
					</div>
					<div className="home-card">
						<div className="home-card-top">
								<Icon name="language" />
						</div>
						<div className="home-card-bottom">
							<p>Placeholder </p>
						</div>
					</div>
					<div className="home-card">
						<div className="home-card-top">
								<Icon name="fingerprint" />
						</div>
						<div className="home-card-bottom">
							<p>Placeholder </p>
						</div>
					</div>
				</Grid>