

					<div>
						<p style={{padding: '8px', margin: '5px 0px 0px 0px'}}>
						{this.props.title}
						
						{(isAuth && purchased)? <span style={purchasedStyle}>Purchased <Icon name="done" /></span> : null}
						</p>
					</div>
					
					<CardActions>
						{(!isAuth) ? <Link to={tryKitUrl} >Load & Try </Link>: null}
						{(isAuth && !purchased) ? <Button colored raised onClick={this.loadTemplate}> Load & Save </Button>: null}
						{(isAuth && purchased) ? <Button colored accent raised onClick={this.loadTemplate}> Load, Save & Download </Button>: null}
						{(isAuth && !purchased) ? <Button colored accent raised onClick={this.purchaseTemplate}> Select & Purchase </Button>: null}
					</CardActions>





					<CardActions style={{height: '130px', padding: '16px', background: '#fff', marginTop: '180px', borderTop: '1px solid #eceff1'}}>
				        <span style={{ display: 'inline-block', width: '100%', fontSize: '14px', fontWeight: '500', paddingBottom: '10px', color: 'rgba(0,0,0, 0.7)'}}>
				            MDL BLOG
				        </span>
				        {(!isAuth) ? <Link to={tryKitUrl} >Load & Try </Link>: null}
						{(isAuth && !purchased) ? <Button  raised onClick={this.loadTemplate}> Load & Save </Button>: null}
						{(isAuth && purchased) ? <Button  raised onClick={this.loadTemplate}> Load, Save & Download </Button>: null}
						{(isAuth && !purchased) ? <Button colored accent raised onClick={this.purchaseTemplate}> Select & Purchase </Button>: null}
				    </CardActions>
				</Card>
				<Card shadow={1} style={{background: '#fff', display: 'inline-block'}}>
					<div style={{background: '#fff', width:'100%'}}>
						<TemplateItemTabs data={dataOb}></TemplateItemTabs>
					</div>
				</Card>	


				<div style={actionBar}>
						<span> This is the details  <Button> Show Details </Button> </span>
						{this.props.children}
					</div>