					<Card className={ListCard.CardCSSClassName} shadow={ListCard.CardShadow} style={ListCard.CardStyle}>
				    <CardTitle expand style={ListCard.CardTitleStyle}>Yellow</CardTitle>
				    <CardText style={{ color: '#d66d8b'}}> 
				    	<List style={{width: '300px'}}>
						  <ListItem twoLine style={ListCard.ListItemStyle}>
						    <ListItemContent avatar="person" subtitle="62 episodes" style={ListCard.ListItemContentStyle}>Bryan Cranston</ListItemContent>
						    <ListItemAction info="Actor">
						      <a href="#"><Icon name="star" /></a>
						    </ListItemAction>
						  </ListItem>
						  <ListItem twoLine style={ListCard.ListItemStyle}>
						    <ListItemContent avatar="person" subtitle="62 episodes" style={ListCard.ListItemContentStyle}>Aaron Paul</ListItemContent>
						    <ListItemAction>
						      <a href="#"><Icon name="star" /></a>
						    </ListItemAction>
						  </ListItem>
						  <ListItem twoLine style={ListCard.ListItemStyle}>
						    <ListItemContent avatar="person" subtitle="62 episodes" style={ListCard.ListItemContentStyle}>Bob Odenkirk</ListItemContent>
						    <ListItemAction>
						      <a href="#"><Icon name="star" /></a>
						    </ListItemAction>
						  </ListItem>
						</List>
				    </CardText>
				    <CardActions style={ListCard.CardActionsStyle}>
				       <IconButton name="settings" />
				    </CardActions>
				</Card>

				<Card className={ListCard.CardCSSClassName} shadow={2} style={ListCard.CardStyle}>
					<Checkbox label="With ripple" ripple defaultChecked />


					<Switch ripple id="switch1" defaultChecked>Ripple switch</Switch>

					<IconButton name="mood" colored />

					<Button raised accent ripple>Button</Button>
				</Card>